/* MIT license in folder
modified Bootstrap Dashboard example -  
https://github.com/twbs/bootstrap/blob/v3-dev/docs/examples/dashboard/dashboard.css
 */
 
/*
 * Base structure
 */
 
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-left: 213px;
  padding-bottom: 100px;
}

.chart{
    margin:30px;
}

.ui-datatable-tablewrapper {
    margin-left: 15px;
}

h1 {
    margin-left: -200px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

h2 {
    margin-left: -200px;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #D0D0D0;
}

h4 {
    font-size: 12pt;
    margin-left: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}

.homepage {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.ui-datatable tbody td, thead {
    border-style: none;
    outline: 1px solid #E0E0E0;
}

.borders-on td{
    border-style: solid;
}

.thead-sitetables {
    display: table-header-group;
    background-color: #66CCFF;
    text-align: center;
}

.form-bugsapp {
    margin-left: 25px;
}

.formitem-bugsapp {
    width: 150%;
}

.label-separator {
    margin-bottom: 20px;
}

.content {
    margin-left: -200px;
    text-align: center;
    padding-bottom: 20px;
}

/*
 * Global add-ons
 */
 
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
 
 
/*
 * Sidebar
 */
 
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
 
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
    color: #000000;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
 
 
 
/*
 * Main content
 */
 
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
 
 
/*
 * Placeholder dashboard ideas
 */
 
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
 
/*
 * Top left corner App name
 */
.ManageBugsFreeTag {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 240);
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    cursor: default;
    box-sizing: border-box;
    box-sizing: border-box;
}

.ui-inputfield {
   height: 25px; 
   width: 70px;
   padding: 0!important;
   text-align: center
}

.ui-datatable   {
   padding-left: 0px;
   padding-right: 20px;
   font-size: 11px;
}

.ui-panel {
    margin-bottom:10px; 
    font-size: 8.5pt; 
    line-height: 20pt; 
}

.ui-panel2 {
    margin-top: 70px;
    margin-left: 35px;
    margin-right: 49px;
}

.form-control {
    height: 25px;
}

.navbar-form .form-control {
    height: 22px;
    width: 75px;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tablelinks {
    color: #4169e1!important;
    text-decoration: underline;
    padding-inline-start: 0px;
}


.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td{
    text-overflow: ellipsis;
}

.smalltable {
    width:26%;
    line-height: 15pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ui-datatable .ui-selection-column .ui-chkbox-all {
    display:none;
 }
 
 .ui-paginator {
     margin-left: 15px;
 }
 
 .titlemargin {
     margin-top: 10px !important;
 }
 
